@{
    ViewData["Title"] = "Home Page";
    var id = 1;
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        <a href="~/view/Index.html">111聊天室</a>
        <a href="/Home/ChatRoom/@id">进入聊天室方式A</a> | 
        <a href="/Home/ChatRoom?roomId=@id">进入聊天室方式B</a>
        <table border="1" width="100%">
            <tr>
                <th>房间名称</th>
                <th>在线人数</th>
                <th>操作</th>
            </tr>
            <tr>
                <td width="100px">111室</td>
                <td width="70%">88</td>
                <td align="center"><a href="~/view/Index.html">进入</a></td>
            </tr>
        </table>
    </div>
